{% load static %}
<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
            <h4>Команда 4T</h4>
            <p class="mb-0">Проект "Xabr".</br> Командная разработка по методологии Agile:Scrum.</p>
        </div>

        <div class="p-4">
            <h4>Популярные Хабры</h4>
            {% for habr in object_list %}
            <ol class="list-unstyled mb-0">
                <li><a href="{% url 'index:habr' habr.slug %}" class="stretched-link">{{ habr.title }}</a></li>
            </ol>
            {% endfor %}

        </div>

        <div class="p-4">
            <h4>Лучшие авторы</h4>
            {% for habr in object_list %}
            <ol class="list-unstyled mb-0">
                <li>
                    {% if habr.user.avatar.url %}
                    <a href="#"><img src="{{ habr.user.avatar.url }}" width="32" height="32"
                                     class="mainpage-avatar-img img-thumbnail rounded-circle"></a>{{ habr.user.get_full_name}}
                    {% else %}
                    <a href="#"><img src="1{% static 'img/default.png' %}" width="32" height="32"
                                     class="mainpage-avatar-img img-thumbnail rounded-circle"></a>{{ habr.user.get_full_name}}
                    {% endif %}
                </li>
            </ol>
            {% endfor %}
        </div>
    </div>
</div>
<div>
