{% load static %}
{% block right %}
<div class="col-md-4">
    <center><img src="https://i.pinimg.com/originals/6e/ba/0e/6eba0e770a54e1c4d61ae537f79f5301.jpg" class="img-fluid" alt="Реклама Казино"></center>
    <div class="position-sticky" style="top: 2rem;">
        {% if art %}
        <div class="p-4">
            <h4>Популярные Хабры </h4>
            <ol class="list-group-item-heading">
                {% for art in art %}
                <li><a href="{% url 'mainapp:habr' art.slug %}"
                       class="stretched-link link-dark">{{ art.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        {% if author %}
        <div class="p-4">
            <h4>Лучшие авторы</h4>
            <ol class="list-group-item-heading">
                {% for author in author %}
                <li>
                    {% if habr.user.avatar.url %}
                    <img src="{{ author.user.avatar.url }}" width="32" height="32"
                         class="mainpage-avatar-img img-thumbnail rounded-circle">
                    {{ author.get_full_name }}
                    {% else %}
                    <img src="{% static 'img/default.png' %}" width="32" height="32"
                         class="mainpage-avatar-img img-thumbnail rounded-circle">
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
</div>
{% endblock right %}