{% load static %}
<div class="blog-header-main">
    <div class="blog-header container py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3">
                <form class="d-flex" action="{% url 'main:search_results' %}" method="get">
                    <input class="form-control me-2" name="search" type="text">
                    <button type="submit" class="btn btn-secondary">Поиск</button>
                </form>

            </div>
            <div class="col-6 text-center">
                <a class="blog-header-logo text-dark" href="{% url 'main:index' %}">Xabr</a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                {% if user.is_superuser or user.is_staff %}
                <a class="admin btn btn-outline-secondary mr-1" href="{% url 'admin:index' %}">
                    Админка
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name|default:'Администратор'|title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'auth:read_profile' %}">Профиль</a>
                        <a class="dropdown-item" href="{% url 'blog:post_list' %}">Мои статьи</a>
                        <a class="dropdown-item" href="{% url 'blog:post_new' %}">Написать статью</a>
                        <a class="dropdown-item" href="{% url 'auth:logout' %}">Выход</a>
                    </div>
                </div>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{% url 'auth:login' %}?next={{ request.path }}">Вход</a>
                <a class="btn btn-sm btn-outline-secondary"
                   href="{% url 'auth:register' %}?next={{ request.path }}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>