<!-- Начало mainapp/templates/includes/inc__main_menu.html-->
<!-- Меню в шапке-->

<!--<div class="nav-scroller py-1 mb-2">-->
<!--    <nav class="nav d-flex justify-content-between">-->
<!--        <a class="p-2 link-secondary" href="{% url 'design' %}">Дизайн</a>-->
<!--        <a class="p-2 link-secondary" href="{% url 'web_dev' %}">Веб-разработка</a>-->
<!--        <a class="p-2 link-secondary" href="{% url 'mobile_developing' %}">Мобильная разработка</a>-->
<!--        <a class="p-2 link-secondary" href="{% url 'marketing' %}">Маркетинг</a>-->
<!--        <a class="p-2 link-secondary" href="{% url 'help' %}">Помощь</a>-->
<!--    </nav>-->
<!--</div>-->

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

        {% if cat_selected == 1 %}
        <a class="p-2 link-secondary" href="{% url 'design' %}">Дизайн</a>
        {% else %}
        <a class="p-2 link-secondary" href="{% url 'design' %}">Дизайн - не выбран</a>
        {% endif %}

    </nav>
</div>
    <!-- Конец mainapp/templates/includes/inc__main_menu.html-->