<!-- Начало mainapp/templates/includes/inc__main_menu.html-->
<!-- Меню в шапке-->

<div class="nav-scroller py-1 mb-2">
    <nav class="nav nav-pills nav-justified">
        {% if cat_selected == 0 %}
        <a class="nav-item nav-link link-dark" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link link-dark" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link link-dark" href="{% url 'mobile_developing' %}">Мобильная разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'help' %}">Помощь</a>
        {% elif cat_selected == 1 %}
        <a class="nav-item nav-link bg-secondary text-white active" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link link-dark" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link link-dark" href="{% url 'mobile_developing' %}">Мобильная разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'help' %}">Помощь</a>
        {% elif cat_selected == 2 %}
        <a class="nav-item nav-link link-dark" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link bg-secondary text-white active" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link link-dark" href="{% url 'mobile_developing' %}">Мобильная разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'help' %}">Помощь</a>
        {% elif cat_selected == 3 %}
        <a class="nav-item nav-link link-dark" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link link-dark" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link bg-secondary text-white active" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link link-dark" href="{% url 'mobile_developing' %}">Мобильная разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'help' %}">Помощь</a>
        {% elif cat_selected == 4 %}
        <a class="nav-item nav-link link-dark" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link link-dark" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link bg-secondary text-white active" href="{% url 'mobile_developing' %}">Мобильная
            разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'help' %}">Помощь</a>
        {% elif cat_selected == 5 %}
        <a class="nav-item nav-link link-dark" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link link-dark" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link link-dark" href="{% url 'mobile_developing' %}">Мобильная разработка</a>
        <a class="nav-item nav-link bg-secondary text-white active" href="{% url 'help' %}">Помощь</a>
        {% else %}
        <a class="nav-item nav-link link-dark" href="{% url 'design' %}">Дизайн</a>
        <a class="nav-item nav-link link-dark" href="{% url 'web_dev' %}">Веб-разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'marketing' %}">Маркетинг</a>
        <a class="nav-item nav-link link-dark" href="{% url 'mobile_developing' %}">Мобильная разработка</a>
        <a class="nav-item nav-link link-dark" href="{% url 'help' %}">Помощь</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'habrapp:create' %}">&#9998</a>
        {% endif %}
    </nav>
</div>
<!-- Конец mainapp/templates/includes/inc__main_menu.html-->