{% extends 'mainapp/base.html' %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        {% if messages or form.non_field_errors %}
                        <div class="alert
                                    {% if messages %} alert-success {% else %} alert-warning {% endif %}
                                    alert-dismissible fade show"
                             role="alert"
                             style="margin-top: 50px;">
                            {% if messages %}
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                            {% else %}
                            {{ form.non_field_errors }}
                            {% endif %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div>
                                {% get_providers as socialaccount_providers %}
                                {% for provider in socialaccount_providers %}
                                <a class="btn btn-outline-secondary btn-sm btn" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
                                {% endfor %}
                            </div>
                            <div class="card-header"><h3 class="text-center font-weight-light my-4 ">Авторизация</h3>
                            </div>
                            <div class="card-body">
                                <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="{% url 'userapp:register' %}">Нужен аккаунт?
                                    Зарегистрируйся!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
