{% extends 'mainapp/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="row g-5">
    <div class="col-md-8">
        <h1>Профиль</h1></br>
        <form action="{% url 'userapp:profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label class="form-label" for="{{ form.username.id_for_label }}">Имя пользователя (login)</label>
                {{ form.username }}

                <label class="form-label" for="{{ form.email.id_for_label }}">Адрес электронной
                    почты</label>
                {{ form.email }}
                            </div>
            <hr>
            <div>
                <div>
                    <label class="form-label" for="{{ form.first_name.id_for_label }}">Имя</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div>
                <div>
                    <label class="form-label" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div>
                <div>
                    <div>
                        {{ form.avatar }}
                        <label class="form-label" for="{{ form.avatar.id_for_label }}">
                            Выберите изображение
                        </label>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div>
                <div>
                    <label class="form-label" for="{{ form.age.id_for_label }}">Возраст</label>
                    {{ form.age }}
                </div>
                <div>
                    {{ profile_form.as_p }}
                </div>
                <div class="col-lg-6" style="margin-top: 33px;">
                    <input class="btn btn-outline-success" type="submit" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
    {% include 'mainapp/includes/inc__right_profile.html' %}
</div>
{% endblock %}

