{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block main %}
<div class="mt-3 posts text-left">
    <h3 class="text-center"> Редактировать статью:</h3>
    <div class="card ">
        <div class="card-header">
            <form action="" method="post">{% csrf_token %}
                <p class="card-text">Категория: {{ form.category }}</p>
                <p class="card-text">Название статьи:{{ form.name }}</p>
                <p class="card-text">Краткое описание статьи:{{ form.description }}</p>
                <p class="card-text">Текст статьи:{{ form.posts_text }}{{ form.media }}</p>
                <p class="card-text">{{ form.errors }}</p>
                {% if object.is_active == "True" %}
                <p class="card-text">Статус: Опубликована </p>
                <input class="card-text" type="radio" name="is_active" value="False"> Черновик</p>
                <input class="card-text" type="radio" name="is_active" value="MD"> На модерацию</p>
                {% endif %}
                {% if object.is_active == "MD" %}
                <p class="card-text">Статус: На модерацию </p>
                <input class="card-text" type="radio" name="is_active" value="False"> Черновик</p>
                {% endif %}
                {% if object.is_active == "False" %}
                <p class="card-text">Статус: Черновик </p>
                <input class="card-text" type="radio" name="is_active" value="False"> Черновик</p>
                <input class="card-text" type="radio" name="is_active" value="MD"> На модерацию</p>
                {% endif %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input class="btn btn-secondary" type="submit" value="Обновить"/>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-secondary"
                       href="{% url 'blog:post_list' %}">Назад</a>
                    <a type="button" class="btn btn-secondary"
                       href="{% url 'blog:post_detail' object.slug %}">Смотреть статью</a>
                    <a type="button" class="btn btn-secondary"
                       href="{% url 'blog:post_delete' object.slug %}">Удалить статью</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
