{% load static %}
{% load mainapp_tags %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Место накопления знаний">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="194x194" href="{% static 'fav/favicon-194x194.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'fav/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'fav/safari-pinned-tab.svg' %}">
    <meta name="apple-mobile-web-app-title" content="4t-habr.ru">
    <meta name="application-name" content="4t-habr.ru">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{% static 'fav/mstile-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/blog.css' %}" rel="stylesheet">
</head>
<body>

<div class="container ">
    <!-- Heder menu -->
    {% include 'mainapp/includes/inc__header.html' %}
    <!-- Section menu -->
    {% include 'mainapp/includes/inc__main_menu.html' %}

<!-- Section header -->
<main class="container">
    <BR><BR>
    {% block content %}

    {% endblock content %}
    </div>
    {% block right %}

    {% endblock right %}
</main>

<!-- Footer -->
{% include 'mainapp/includes/inc__footer.html' %}

<script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>