{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>{{ title|title }}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'help' %}">Проект <span class="logo_colour">"Xabr"</span></a></h1>
          <h2>Командная разработка по методологии Agile:Scrum.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="{{index}}"><a href="{% url 'help' %}">Главная</a></li>
          <li class="{{design}}"><a href="{% url 'design' %}">Дизайн</a></li>
          <li class="{{web_developing}}"><a href="{% url 'web_developing' %}">Веб-разработка</a></li>
          <li class="{{mobile_developing}}"><a href="{% url 'mobile_developing' %}">Мобильная разработка</a></li>
          <li class="{{marketing}}"><a href="{% url 'marketing' %}">Маркетинг</a></li>
          <li class="{{help}}"><a href="{% url 'help' %}">Помощь</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userapp:profile' %}">Профиль
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userapp:logout' %}">Выйти <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userapp:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                {% endif %}
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Лучшие хабы</h3>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{% static 'style/search.png' %}" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        {% block content %}

        {% endblock %}
     </div>
    </div>
{% block footer %}
    <div id="footer">
      Copyright &copy; textured_stars_light | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a>
    </div>
{% endblock %}

</body>

</html>
