{% load static %}
{% load mainapp_tags %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Место накопления знаний">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/blog.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
</head>
<body>

<div class="container">
    <!-- Heder menu -->
    {% include 'mainapp/includes/inc__header.html' %}
    <!-- Section menu -->
    {% include 'mainapp/includes/inc__main_menu.html' %}
</div>

<!-- Section header -->
<main class="container">
    {% if cat_selected == 0 %}
    <div class="p-10 p-md-4 mb-10 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <h1 class="display-6">ВСЕ ПОТОКИ ХАБРОВ</h1>
        </div>
    </div>
    {% elif cat_selected == 1 %}
    <div class="p-10 p-md-4 mb-10 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-6">ХАБРЫ ПРО ДИЗАЙН</h1>
        </div>
    </div>
    {% elif cat_selected == 2 %}
    <div class="p-10 p-md-4 mb-10 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <h1 class="display-6">ХАБРЫ ПРО ВЕБ-РАЗРАБОТКУ</h1>
        </div>
    </div>
    {% elif cat_selected == 3 %}
    <div class="p-10 p-md-4 mb-10 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <h1 class="display-6">ХАБРЫ О МАРКЕТИНГЕ</h1>
        </div>
    </div>
    {% elif cat_selected == 4 %}
    <div class="p-10 p-md-4 mb-10 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <h1 class="display-6">ХАБРЫ ПРО МОБИЛЬНУЮ РАЗРАБОТКУ</h1>
        </div>
    </div>
    {% elif cat_selected == 5 %}
    <div class="p-10 p-md-4 mb-10 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <h1 class="display-6">ПОМОЩЬ</h1>
        </div>
    </div>
    {% endif %}


    <BR><BR>
    <div class="row g-5">
        <div class="col-md-8">
            {% block content %}

            {% endblock content %}
        </div>
        <!-- Right column - ratig -->
        {% include 'mainapp/includes/inc__right_rating.html' %}
    </div>
</main>

<!-- Footer -->
{% include 'mainapp/includes/inc__footer.html' %}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>