<!-- templates/mainapp/habr.html -->
{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<br><br>
<div class="row">
    <div>
        <a href="">{{ habr.id_user|title }}</a>
        <time datetime="{{ habr.time_create}}"
              title="{{ habr.time_create }}">{{ habr.time_create }}
        </time>
        | {{ habr.category }}
        <h2 class="display-8 fw-bold lh-1">{{ habr.title }}</h2>
        <p class="lead">{{ habr.content }}</p>
    </div>
</div>
{% endblock %}