{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<h2 class="blog-post-title">Доступный функционал сайта</h2><br>
<div class="blog-post">
    <p>На сайте реализован функционал регистрации и авторизации пользователей.
        У зарегистрированных пользователей есть возможность не просто читать хабы, но оставлять
        комментарии к ним.</p>
    <p>В личном кабинете пользователь при желании может заполнить/поменять информацию о себе: имя,
        возраст, краткое описание.</p>
    <p>У зарегистрированных пользователей есть возможность ставить лайки статьям, комментариям. На основе лайков
        сформирована система рейтингов для статей.</p>
    <p>Также на сайте есть расширенный поиск по сайту для всех пользователей. В поиске позже появится
        фильтр по дате (“сначала свежие”) и по рейтингу (“сначала с самым высоким рейтингом”).
    </p>
</div>
<h2 class="blog-post-title">Описание ролей</h2><br>
<div class="blog-post">
    <p>На сайте реализованы следующие роли:<br>
        - незарегистрированный пользователь (может только просматривать контент);<br>
        - зарегистрированный пользователь (может создавать/редактировать свои статьи и оставлять комментарии);<br>
        - модератор (может создавать/удалять статьи и комментарии, а также блокировать/удалять пользователей);<br>
        - администратор - полный доступ к функционалу сайта, в т.ч. назначение и удаление модераторов.<br>
    </p>
</div><br>
<h2 class="blog-post-title">Сценарии взаимодействия пользователя</h2><br>
<h3>Сценарий №1</h3>
<div class="blog-post">
    <p> Незарегистрированный пользователь заходит на сайт, просматривает главную страницу, выбирает интересующую
        его статью. Хочет оставить комментарий, но не может, так как требуется регистрация. Сайт предлагает ему
        зарегистрироваться или авторизоваться. Незарегистрированный пользователь вводит свои данные для
        регистрации, сохраняет их и далее логин-пароль. Зарегистрированный пользователь сразу вводит
        логин-пароль. После этого возвращается на ту самую статью, ставит ей лайк и/или оставляет под
        ней комментарий.
    </p>
</div>
<h3>Сценарий №2</h3>
<div class="blog-post">
    <p> Зарегистрированный пользователь X хочет написать статью. Он логинится с любой страницы сайта и в
        своем личном кабинете, у него появляется кнопка “Создать статью”. Он выбирает раздел к которому
        статья будет относиться, выбирает метки (теги), пишет статью, нажимает на кнопку “Сохранить”.
    </p>
</div>
<h3>Сценарий №3</h3>
<div class="blog-post">
    <p> Модератор заходит на сайт, логинится с любой страницы сайта и видит в одной из статей много
        одинаковых рекламных комментариев онлайн-казино. Модератор удаляет комментарии и блокирует
        пользователя, оставившего рекламные комментарии на 2 недели. Заблокированный пользователь видит
        в своем личном кабинете уведомление о том, что он нарушил правила пользования сайтом и больше
        не может писать статьи, оставлять комментарии и ставить лайки в течение следующих 2 недель.
    </p>
</div>
<h2 class="blog-post-title">Будут доступны cценарии</h2><br>
<h3>Сценарий №4</h3>
<div class="blog-post">
    <p> Пользователь заходит на сайт под своим профилем (может оставлять комментарии и т.п.) и видит
        статью/комментарий с рекламой онлайн-казино. Пользователь оставляет комментарий, начинающийся
        с @moderator и причиной призыва модератора. Все модераторы получают уведомление в личном кабинете
        о призыве модератора с ссылкой на статью/комментарий.
    </p>
</div>
{% endblock %}