<!-- templates/list.html -->
{% block content %}
<h1>{{ content }}</h1>
<div class="row">
    <hr>
    {% for habr in habrs %}
    <div>
        <a href="">{{ habr.id_user|title }}</a>
        <time datetime="{{ time_create }}"
              title="{{ habr.time_create }}">{{ habr.time_create }}
        </time>
        , {{ user.get_full_name }}, [{{ habr.category }}]
        <h2 class="display-8 fw-bold lh-1"><a
                href="{% url 'main:habr' habr.slug %}">{{ habr.title }}</a></h2>
        {% if habr.images %}
        <img class="img-article-left" src="{{habr.images.url}}" width="25%" height="25%">
        {% endif %}
        <p class="lead">{{ habr.content }}</p>
        <button onclick="document.location='{% url 'main:habr' habr.slug %}'">Читать дальше</button>
        <br><br>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}

