<!-- Начало templates/mainapp/habr.html -->
<!-- Отображение выбранного Хабра -->
{% extends 'mainapp/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="row g-5">
    <div class="col-md-8">
        <h3 class="card-title">Все хабры автора</h3>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                {{ habr }}
                {% for Habr in objects %}
                <h3 class="mb-0">{{ author.title }}</h3>
                <p class="card-text mb-auto">{{ habr.content|safe|linebreaks|truncatechars:300 }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'mainapp/includes/inc__right_rating_profile.html' %}
</div>
{% endblock %}
<!-- Конец templates/mainapp/habr_list.html -->
