<!-- templates/section.html -->
{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ content }}</h1>
    <div class="row">
        <hr>
   posts = {{ posts }}<br><br>
   category = {{ category }}<br><br>
   categories = {{ categories }}<br><br>
   cat = {{ cat }}<br><br>
        {% for category in categories %}
            {{ habr.time_create }}
            <div>
                <a href="">{{ habr.id_user|title }}</a>
                <time datetime="{{ habr.time_create }}"
                      title="{{ habr.time_create }}">{{ habr.time_create }}</time>
                , [{{ habr.category }}]
{#                <h2 class="display-8 fw-bold lh-1"><a#}
{#                        href="{% url 'main:habr' habr.slug %}">{{ habr.short_description }}</a></h2>#}
                <p class="lead">{{ habr.description }}</p>
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Читать дальше</button>
                <br><br>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}
